.formulario{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 344px;
    justify-content: space-around;
    background: #ffffff;
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 14.09;
    border-right-width: 1px;
    border-top-width: 1px; 
    padding-right: 14.09px;
    padding-top: 20px;
    padding-bottom: 20px;
    

}

     input {
        height: 32px;
        border: 1px solid #979797;
        box-sizing: border-box;
        border-radius: 4px;
    }

    .tipotransacao {
        height: 32px;
        border: 1px solid #979797;
        box-sizing: border-box;
        border-radius: 4px;
    }

    .adicionar{
        background: #333333;
        border-radius: 4px;
        color: white;
    }

    select {
        height: 32px;
        border: 1px solid #979797;
        box-sizing: border-box;
        border-radius: 4px;
    }

 