* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
  }

body{
    font-family: 'Lato', 'sans-sefif';
}

header{ 
    background: rgb(224,224,224);
    height: 80px; 
}

.logo{
    margin-left: 200px;
    width: 20%;
    position: absolute;
}
.controlefinanceiro{
    position: absolute;
    width: 411px;
    height: 43px;
    left: 60px;
    top: 19px;

    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;

}
