* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
  }

body{
    font-family: 'Lato', 'sans-sefif';

}

.header{ 
    background: rgb(224,224,224);
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
.navigation{
    position: relative;
    height: 80px;
    width: 400px;
    left: 10%;
    display: flex;
    align-items: inherit;
  
}

.controlefinanceiro{
    font-size: 20px;
    font-weight:bold;
}
.menu{
    display: flex;
    position: relative;
    height: 40px;
    right: 10%;
    justify-content: space-evenly;
    }

 .menu ul{
    background-color: white;
    display: flex;
    font-weight: bold;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    width: 350px
}

.extratodetransacoes {
    font-size: 18px;
    font-weight: bold;
    

}
.extrato {
    position: relative;
    width: 680px;
    left: 900px;
    top: -330;
}
  

    
aÇs 